<a href="https://colab.research.google.com/github/nabinthapamagar/Edureka/blob/main/Copy_of_Predictive_Analytics_class_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://www.dropbox.com/s/kr6f2lednm1pvc4/heart_failure_clinical_records_dataset%20%281%29.csv

--2021-04-03 17:12:05--  https://www.dropbox.com/s/kr6f2lednm1pvc4/heart_failure_clinical_records_dataset%20%281%29.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6032:18::a27d:5212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/kr6f2lednm1pvc4/heart_failure_clinical_records_dataset%20%281%29.csv [following]
--2021-04-03 17:12:06--  https://www.dropbox.com/s/raw/kr6f2lednm1pvc4/heart_failure_clinical_records_dataset%20%281%29.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf5259dee783090d8cafa01387a.dl.dropboxusercontent.com/cd/0/inline/BL6m8UwC2mVeEN5jLAPhAF7L26AOHSDwrFuor1lgGIGYjRIx1nQACJYhCz0OzVsEZo7_dhuqM5iNPBUQBjzk6uyL8tfH_gfR8LYi_BsnrfKywMh5w4ZK0QkQz3wO4GrYnbmq2bXTxde7MsTiNBpIc5aR/file# [following]
--2021-04-03 17:12:06--  https://ucf5259dee783090d8cafa01387a.dl.dropboxusercontent.com/cd/0/inline/BL6m8UwC2mVeEN5jLAPhAF7L26AOHSDwrFuor1lgGIGYjRIx1nQACJYhCz0OzVsEZo7_dhuqM5iNPBUQBjzk6uyL8tfH_gfR8LYi_BsnrfKywMh5w4ZK0QkQz3wO4GrYnbmq2bXTxde7MsTiNBpIc5aR/file
Resolving ucf5259dee783090d8cafa01387a.dl.dropboxusercontent.com (ucf5259dee783090d8cafa01387a.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6032:15::a27d:520f
Connecting to ucf5259dee783090d8cafa01387a.dl.dropboxusercontent.com (ucf5259dee783090d8cafa01387a.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12239 (12K) [text/plain]
Saving to: ‘heart_failure_clinical_records_dataset (1).csv’

heart_failure_clini 100%[===================>]  11.95K  --.-KB/s    in 0s

2021-04-03 17:12:08 (320 MB/s) - ‘heart_failure_clinical_records_dataset (1).csv’ saved [12239/12239]

In [ ]:
#import our dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import seaborn as sns

In [ ]:
data=pd.read_csv('heart_failure_clinical_records_dataset (1).csv')

In [ ]:
data.shape

(299, 13)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
data.head(10)

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1
5  90.0        1                        47  ...        1     8            1
6  75.0        1                       246  ...        0    10            1
7  60.0        1                       315  ...        1    10            1
8  65.0        0                       157  ...        0    10            1
9  80.0        1                       123  ...        1    10            1

[10 rows x 13 columns]

In [ ]:
lower_bound=round(point_estimate-error,2)
upper_bound=round(point_estimate+error,2)
print(f'The 95% of confidence interval for mean blood platelets in human is [{lowe_blood},{upper_blood}]')

NameError: ignored