<a href="https://colab.research.google.com/github/nabinthapamagar/Edureka/blob/main/Predictive_Analysis(Class_1)_Statistical_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the student placement data
!wget https://www.dropbox.com/s/ezy0z0ivfvkrp1a/Placement_Data_Full_Class.csv

--2021-03-30 15:01:45--  https://www.dropbox.com/s/ezy0z0ivfvkrp1a/Placement_Data_Full_Class.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.18, 2620:100:6022:18::a27d:4212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ezy0z0ivfvkrp1a/Placement_Data_Full_Class.csv [following]
--2021-03-30 15:01:45--  https://www.dropbox.com/s/raw/ezy0z0ivfvkrp1a/Placement_Data_Full_Class.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc61cc299461c83f67ea018906f8.dl.dropboxusercontent.com/cd/0/inline/BLqJNNAfYkpyouXwnzGjKjHvTTGitYPGg92M3CwIovbPLr4yIWySLsWHjzhxCZmZjGjOuO2lzfZsFat3rUlvH0zb-ufuXcSwuIDIJFov1n4R9Q7ueH8CLSKgBLK_mdQ0igBYBLFsJ2uuPxFrpVeEYjZ2/file# [following]
--2021-03-30 15:01:46--  https://uc61cc299461c83f67ea018906f8.dl.dropboxusercontent.com/cd/0/inline/BLqJNNAfYkpyouXwnzGjKjHvTTGitYPGg92M3CwIovbPLr4yIWySLsWHjzhxCZmZjGjOuO2lzfZsFat3rUlvH0zb-ufuXcSwuIDIJFov1n4R9Q7ueH8CLSKgBLK_mdQ0igBYBLFsJ2uuPxFrpVeEYjZ2/file
Resolving uc61cc299461c83f67ea018906f8.dl.dropboxusercontent.com (uc61cc299461c83f67ea018906f8.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6020:15::a27d:400f
Connecting to uc61cc299461c83f67ea018906f8.dl.dropboxusercontent.com (uc61cc299461c83f67ea018906f8.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19712 (19K) [text/plain]
Saving to: ‘Placement_Data_Full_Class.csv’

Placement_Data_Full 100%[===================>]  19.25K  --.-KB/s    in 0.003s

2021-03-30 15:01:46 (5.62 MB/s) - ‘Placement_Data_Full_Class.csv’ saved [19712/19712]

In [2]:
#import our dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('Placement_Data_Full_Class.csv')

In [4]:
df.shape

(215, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [7]:
df.head(10)

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0
5      6      M  55.00   Others  ...         Mkt&Fin  51.58  Not Placed       NaN
6      7      F  46.00   Others  ...         Mkt&Fin  53.29  Not Placed       NaN
7      8      M  82.00  Central  ...         Mkt&Fin  62.14      Placed  252000.0
8      9      M  73.00  Central  ...         Mkt&Fin  61.29      Placed  231000.0
9     10      M  58.00  Central  ...         Mkt&Fin  52.21  Not Placed       NaN

[10 rows x 15 columns]

In [8]:
df.shape

(215, 15)